.carousel .slide {
    background: transparent;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
    margin-bottom: 10px;
}
.css-header {
    max-width: 300px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 1.4em;
    border-bottom-right-radius: 1.4em;
    border-bottom-left-radius: 1.4em;
    //  border-width: 1px;
    // border-style: solid; */

    border-image: initial;
    margin-right: 10px;
    color: black;
    width: 95%;
    height: 95%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(204, 214, 221);
}

.css-header img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.css-122kzsv {
    font-weight: 500;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 1em;
}
.css-img {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-height: 250px;
}
.css-img img {
    display: block;

    width: 100%;
    height: auto;
    margin: 0px auto;
}
@media only screen and (min-width: 600px) {
    .css-img img {
        display: block;

        width: 100%;
        height: auto;
        margin: 0px auto;
    }
}
.css-card-text {
    white-space: pre-line;
    overflow-wrap: break-word;
    max-width: 100%;
    padding: 1em;
    color: black;
    text-align: left;
    .css-title {
        margin: 0px;
        font-weight: Bold;
    }
    .css-subtitle {
        margin: 0px;
        color: #525252;
    }
}
.css-wrapper-button {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.css-button {
    font-size: 1em;
    -webkit-appearance: none;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 1.4em;
    border-bottom-left-radius: 1.4em;
    display: inline-block;
    width: 100%;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: black;
    border-width: 0px 0px 1px;
    border-style: solid;
    padding: 0.8em;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    transition: background-color 0.1s ease 0s;
    background: transparent;
}
.css-button:hover {
    background-color: white;
    cursor: pointer;
}
.css-button:disabled {
    color: gray;
}
