// Colors
$green: #384589;
$blue: #2fecf7;
$gray: #ededed;
.disabled_markdawn_editor {
    color: gray;
}
.ContainerGreen {
    max-width: 450px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    /* -webkit-box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
	-moz-box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
	box-shadow: 5px 5px 20px 0px rgba(173,173,173,1); */
    padding: 2em; // may remove later
}
@media only screen and (max-width: 600px) {
    .ContainerGreen {
        max-width: 450px;
        background-color: white;
        border-radius: 15px;
        border: 1px solid #c1c1c1;
        /* -webkit-box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
		-moz-box-shadow: 5px 5px 20px 0px rgba(173,173,173,1);
		box-shadow: 5px 5px 20px 0px rgba(173,173,173,1); */
        padding: 1.3em 1em; // may remove later
    }
}

.formGreen {
    padding-right: 9px;
}

.h2Green {
    text-align: center;
    font-size: 28px;
    padding: 0;
    margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
    .large-groupGreen {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .small-groupGreen {
        width: 45%;
    }
}

.labelGreen {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
    margin: auto;
    color: black;
}

.inputGreen,
.selectGreen {
    padding: 10px 16px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 0;
    background-color: $gray;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: auto;
}

.textarea-div {
    width: 100%;
}

.textareaGreen {
    padding: 10px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0;
    background-color: $gray;
    font-size: 14px;
    height: 100px;
}

.btnGreen {
    background-color: $green;
    padding: 12px 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 9px 0px;
    transition: 0.3s all ease;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: $blue;
    }
}
.btnGreen:disabled,
button[disabled] {
    background-color: $gray;
    &:hover {
        cursor: not-allowed;
        background-color: $gray;
    }
}

.ace_editor.ace-github {
    width: 100% !important;
}
